<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxnu.mapper.GroupMapper">
    <insert id="insertIntoGroup">
        insert into `group` (belong,proportion) values(#{belong},#{proportion})
    </insert>
    <update id="updateProportion">
        update `group` set proportion = #{proportion} where groupID = #{groupID}
    </update>

    <update id="deleteByGroupID">
        update `group` set isDelete=0 where groupID = #{groupID}
    </update>
    <select id="selectByGroupID" resultType="com.gxnu.domain.Group">
        select * from `group` where groupID=#{groupID} and isDelete=0
    </select>
    <select id="selectAllGroup" resultType="com.gxnu.domain.Group">
        select * from `group` and isDelete=0
    </select>


</mapper>